#TabsToolbar toolbarbutton {
        display: none !important;
    }

#tabbrowser-tabs {
        background-image: none !important;
        font-family: Termsyn;
        font-size: 12pt !important;
        height:    18px !important;
        min-width: 6px !important
        padding-top: 1px !important;
}

.tabbrowser-tab {
        -moz-appearance: none !important;
        background-image: none !important;
        border: 0px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        /* padding-left: 5px !important; */
        /* padding-right: 5px !important; */
        margin: 0 2px 0 0 !important;
}
 
.tabbrowser-tab[selected="true"] {
        background-color: #4D679A !important;
        color: #bfb5b5 !important;
        /* minimum-height: 8px !important; */
        /* maximum-height: 8px !important; */
        padding-bottom: 8px !important;
}
 
.tabbrowser-tab:not([selected="true"]) {
        background-color: #505252 !important;
        color: #bfb5b5 !important;
        /* minimum-height: 8px !important; */
        /* maximum-height: 8px !important; */
        padding-bottom: 8px !important; 
}

#nav-bar {
        border: none !important;
        font-family: Termsyn;
        font-size: 12pt !important;
        /* background-color: #505252 !important; */
        background: none !important;
        padding: 0px !important;
}

#urlbar {
        -moz-appearance: none !important;
        padding-right: 1px !important;
}

/* Remove go button */
#go-button { 
        display: none !important; 
}

/* Get rid of dropdown indicator */
#urlbar dropmarker { 
        display: none !important; 
}

/* Remove the bookmark star */
#star-button { 
        display: none !important; 
}

/* urlbar dropdown list */
.ac-comment {
        font-family: Termsyn;
        font-size: 110% !important;
        color: #bfb5b5 !important;
}

.ac-url-text {
        font-family: Termsyn;
        font-size: 90% !important;
        color: gray !important;
}

/* hide horizontal and vertical scrollbar */
#content browser {
        margin-right: -14px !important;
        overflow-y: scroll;
        overflow-x: hidden;
}
